@model DbLayer.Lesson

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Lesson</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LessonDatetime" class="control-label"></label>
                <input asp-for="LessonDatetime" class="form-control" />
                <span asp-validation-for="LessonDatetime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cabinet" class="control-label"></label>
                <input asp-for="Cabinet" class="form-control" />
                <span asp-validation-for="Cabinet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SsubjectId" class="control-label"></label>
                <select asp-for="SsubjectId" class ="form-control" asp-items="ViewBag.SsubjectId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TeacherId" class="control-label"></label>
                <select asp-for="TeacherId" class ="form-control" asp-items="ViewBag.TeacherId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SgroupId" class="control-label"></label>
                <select asp-for="SgroupId" class ="form-control" asp-items="ViewBag.SgroupId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
